name: Build, publish
on:
  push:
    tags:
    - 'v*'
    branches:
    - '**'
    pull_request:
      types: [opened, synchronize, reopened]
  workflow_dispatch:
jobs:
  build-android:
    name: Build Android
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
        submodules: 'recursive'
    - name: Build in Docker container
      uses: addnab/docker-run-action@v2
      with:
        options: --volume ${{ github.workspace }}:/spelunky --workdir /spelunky
        image: dbeef/spelunky-psp
        shell: bash
        run: ./scripts/build-android.sh
    - name: Upload artifact
      uses: actions/upload-artifact@v1
      with:
        name: Spelunky_Android
        path: tmp/install-android/Spelunky_PSP.apk
  build-linux:
    name: Build Linux
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
        submodules: 'recursive'
    - name: Build in Docker container
      uses: addnab/docker-run-action@v2
      with:
        options: --volume ${{ github.workspace }}:/spelunky --workdir /spelunky
        image: dbeef/spelunky-psp
        shell: bash
        run: ./scripts/config-linux.sh && ./scripts/build-linux.sh
    - name: Upload artifact
      uses: actions/upload-artifact@v1
      with:
        name: Spelunky_Linux
        path: tmp/install-linux/Release/bin/Spelunky_PSP
  build-psp:
    name: Build PSP
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
        submodules: 'recursive'
    - name: Build in Docker container
      uses: addnab/docker-run-action@v2
      with:
        options: --volume ${{ github.workspace }}:/spelunky --workdir /spelunky
        image: dbeef/spelunky-psp
        shell: bash
        run: ./scripts/config-psp.sh && ./scripts/build-psp.sh
    - name: Upload artifact
      uses: actions/upload-artifact@v1
      with:
        name: Spelunky_PSP
        path: tmp/build-psp/EBOOT.PBP
  build-web:
    name: Build the web artifact
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
        submodules: 'recursive'
    - name: Build in Docker container
      uses: addnab/docker-run-action@v2
      with:
        options: --volume ${{ github.workspace }}:/spelunky --workdir /spelunky
        image: emscripten/emsdk
        shell: bash
        run: ./scripts/config-emscripten.sh && ./scripts/build-emscripten.sh
  build-windows:
    name: Build Windows
    runs-on: windows-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
        submodules: 'recursive'
    - name: Install dependencies
      run: ./scripts/dependencies-install.ps1
      shell: pwsh
    - name: Build
      run: ./scripts/config-windows.ps1 ; ./scripts/build-windows.ps1
      shell: pwsh
    - name: Upload artifact
      uses: actions/upload-artifact@v1
      with:
        name: Spelunky_Windows
        path: tmp/install-windows/Release/bin
  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: [build-android, build-linux, build-psp, build-windows, build-web]
    if: contains(github.ref, 'refs/tags/')
    steps:
      - name: Download Artifacts
        id: download
        uses: actions/download-artifact@v2
      - name: Zip Windows
        uses: papeloto/action-zip@v1
        with:
          files: Spelunky_Windows/
          dest: Spelunky_Windows/release.zip
      - name: Upload PSP
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref }}
          file: Spelunky_PSP/EBOOT.PBP
          asset_name: Spelunky_PSP.pbp
          overwrite: true
      - name: Upload Linux
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref }}
          file: Spelunky_Linux/Spelunky_PSP
          asset_name: Spelunky_PSP_Linux
          overwrite: true
      - name: Upload Windows
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref }}
          file: Spelunky_Windows/release.zip
          asset_name: Spelunky_PSP_Windows.zip
          overwrite: true
      - name: Upload Android
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref }}
          file: Spelunky_Android/Spelunky_PSP.apk
          asset_name: Spelunky_PSP_Android.apk
          overwrite: true
      - name: Upload the web artifact
        run: |
          git config --global user.name "Daniel 'dbeef' Zalega - Github Workflows"
          git config --global user.email "daniel.zalega@gmail.com"

          git checkout github-pages
          cp tmp/build-emscripten/Spelunky_PSP.* artifacts/
          git commit -m "Updated the web build artifact"

          git push --set-upstream origin github-pages

