name: Static code analysis with Cppcheck
on: [push]

jobs:
  analyse:
    name: Run Cppcheck
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v2
      with:
        depth: 1
        submodules: 'recursive'
    - name: Run Cppcheck
      uses: Bedzior/cppcheck-action@v1.0.0
      with:
        enabled checks: all
        enable inconclusive: true
        include directories: '-Ivendor/glad/glad_opengl_1.3/include -Ivendor/glad/glad_opengl_es_1.0/include -Ivendor/glm -Ivendor/logger/interface -Ivendor/stb/include'
        generate report: true
        path: src
    - name: Upload report
      uses: actions/upload-artifact@v1
      with:
        name: report
        path: output
